@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Manrope", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.leaflet-container,
.markercluster-map {
  width: 100%;
  height: 100vh;
}

.leaflet-div-icon {
  background-color: transparent;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
}

:root {
  --msg__height: 600px;
  --msg__padding: 10px 16px;
}
